@charset "utf-8";
/* CSS Document */

#image{
border:4px #59C09D solid;
height:480px;
width:640px;
}

.thumb{
float:left;
margin-right:12px;
margin-top:10px;
}

#navbar-inner {
	background:#fff;
	margin-top:6%;
}

.nav li {
	float: left;
    margin: 1% -13% 3% 14%;
    padding-right: 39%;
}

#body {
background-color:#999;}

a {color:#59C09D;
}

a:hover {color:#999;
}

.nav > li > a:hover {background-color:transparent;}

.btn {display:inherit;
width:200px;}

.btn-primary {
	background-color:#59c09d;
	background-image:none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
	color:#999;
	background-color:#fff;
}